# Database
DATABASE_URL="postgresql://postgres:password@localhost:5432/food_store_calculator"

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# App
PORT=3001
NODE_ENV=development


REDIS_ENABLED=true
REDIS_URL=redis-12220.c292.ap-southeast-1-1.ec2.redns.redis-cloud.com
REDIS_PORT=12220
REDIS_USERNAME=default
REDIS_PASSWORD=test
REDIS_DATABASE=test
CACHE_TTL_SHORT=300
CACHE_TTL_MEDIUM=3600
CACHE_TTL_LONG=86400